<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Travel App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet">
</head>

<body>
    <header>
        <h1>Abraham Ogbumah</h1>
        <ul>
            <li>Home</li>
            <li>About Me</li>
            <li>Contct</li>
        </ul>
    </header>

    <main>
        <section class="locatio-selector">
            <div class="form-container">
                <h2>Enter a location and select a date</h2>
                <form action="">
                    <input id="location" type="text" name="location" placeholder="Enter a Location">
                    <input placeholder="Arrival Date" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="arrivalDate">
                    <div class="submit-button">
                        <button id="submit" value="submit">Submit</button>
                    </div>
                </form>
            </div>
        </section>

        <section class="result-view">
            <div class="result-display">
                <div id="result-card">
                    <div id="leftSec" class="size">
                        <img id="card-image">
                    </div>
                    <div id="rightSec" class="size">
                        <h3>Your trip to <span id="city"></span>, <span id="country"></span></h3>
                        <h4>Departing: 04-07-2021</h4>
                        <p>Your trip is 7days away</p>
                        <p>Typical weather for that day is:</p>
                        <p>insert weather condition</p>
                        <img>
                    </div>
                </div>
            </div>
        </section>
    </main>



    <footer>

    </footer>
</body>

</html>